name: Update Localization Files

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight
  workflow_dispatch: # Allows running manually from the Actions tab

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      contents: write

    steps:
    - name: Update apt cache
      run: sudo apt-get update

    - name: Install system dependencies
      run: sudo apt-get install -y build-essential g++ libx11-dev libxkbfile-dev libsecret-1-dev libkrb5-dev python-is-python3

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Checkout vscode repository
      uses: actions/checkout@v5
      with:
        repository: microsoft/vscode
        path: vscode

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        cache: 'npm'
        cache-dependency-path: 'vscode/package-lock.json'
        node-version-file: 'vscode/.nvmrc'

    - name: Install dependencies
      run: npm install
      working-directory: vscode

    - name: Clean up
      run: rm -rf vscode-translations-export

    - name: Run vscode-translations-export
      run: node ./node_modules/gulp/bin/gulp.js vscode-translations-export
      working-directory: vscode
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Copy licence
      run: cp vscode/LICENSE.txt vscode-translations-export/LICENSE.txt

    - name: Git info
      run: |
        git add vscode-translations-export
        git status
        ls -hlaF

    - name: Commit and push changes
      uses: planetscale/ghcommit-action@v0.2.19
      with:
        commit_message: "chore: Update localization files"
        repo: ${{ github.repository }}
        branch: main
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
